@model OnlineBankingSystem.Models.ResetPwd

@{
    ViewBag.Title = "ChangePassword";
}

<h2 align="center">ChangePassword</h2>
@{
    string str = ViewBag.Message;
}
<form name="ChangePwd" action="/Account/ChangePassword" method="post">
    <table align="center">
        <tr>
            <td>
                Old Password
            </td>
            <td>
                <input type="password" id="txtoldpwd" name="txtoldpwd" height="28" width="200" />
            </td>
        </tr>
        <tr>
            <td>
                New Password
            </td>
            <td>
                <input type="password" id="txtnewpwd" name="txtnewpwd" height="28" width="200" />
            </td>
        </tr>
        <tr>
            <td>
                Confirm Password
            </td>
            <td>
                <input type="password" id="txtconpwd" name="txtconpwd" height="28" width="200" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="btnSubmit" name="btnSubmit" value="Submit" />
            </td>
            <td>
                <div id="error" runat="server" style="color:red"></div>
            </td>
        </tr>
    </table>
</form>