@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Created BY:
    Aman Maurya
</address>

<address>
    <strong>Phone Number:</strong>   <a >9354613726</a><br />
    <strong>Email:</strong> <a href="mailto:aman.maurya@wipro.com">aman.maurya@wipro.com</a>
</address>